<footer>

    <div class="container">

        <div class="card-frame">
            <div class="card-frame-title">
                <img src="/assets/images/word/wordcard-34.png" alt="Other Links">
            </div>
            <ul
                class="card-frame-bg nav justify-content-center pt-lg-10 pb-lg-3 pt-md-6 pb-md-0 pt-12 pb-5 px-sm-20 pe-0">
                <li class="nav-item me-md-10 me-0 mb-7">
                    <a class="icon-ig nav-link text-hover-warning-100 text-center p-0" href="#">
                        <img src="/assets/images/website-24.png" alt="Instagram" class="d-block mb-2">
                        Instagram</a>
                </li>
                <li class="nav-item me-md-10 me-0 mb-7">
                    <a class="icon-fb nav-link text-center p-0" href="#">
                        <img src="/assets/images/website-26.png" alt="Facebook" class="d-block mb-2">
                        Facebook</a>
                </li>
                <li class="nav-item me-lg-10 me-0 mb-7">
                    <a class="icon-info nav-link text-center p-0" href="#">
                        <img src="/assets/images/website-25.png" alt="TOROT info" class="d-block mb-2">
                        TOROT info</a>
                </li>
                <li class="nav-item me-md-10 me-0 mb-7">
                    <a class="icon-project nav-link text-center p-0" href="#">
                        <img src="/assets/images/website-27.png" alt="PROJECT" class="d-block mb-2">
                        PROJECT</a>
                </li>
                <li class="nav-item me-md-10 me-0 mb-7">
                    <a class="icon-connect nav-link text-center p-0" href="#">
                        <img src="/assets/images/website-28.png" alt="CONNECT" class="d-block mb-2">
                        CONNECT</a>
                </li>
                <li class="nav-item">
                    <a class="icon-dc nav-link text-center p-0 mb-7 text-secondary-200" href="#">
                        <img src="/assets/images/website-41.png" alt="Discord" class="d-block mb-2">
                        Discord</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="copyright fs-9 text-center text-warning-100 lh-base">
        <p>製作　3EYEMMS｜三目道具屋<br>©3EYEMMS by Zazie Zia</p>
    </div>
</footer>