<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- tarot-all -->

    <div class="container d-none">
      <img src="/assets/images/card/inFrame/past/I.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/II.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/III.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/IV.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/IX.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/O.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/V.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/VI.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/VII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/VIII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/X.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/XI.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/XII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/XIII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/XIV.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/XIX.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/XV.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/XVI.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/XVII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/XVIII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/XX.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/XXI.png" alt="tarot-result">

      <img src="/assets/images/card/inFrame/past/content/I.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/content/II.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/content/III.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/content/IV.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/content/IX.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/content/O.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/content/V.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/content/VI.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/content/VII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/content/VIII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/content/X.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/content/XI.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/content/XII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/content/XIII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/content/XIV.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/content/XIX.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/content/XV.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/content/XVI.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/content/XVII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/content/XVIII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/content/XX.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/past/content/XXI.png" alt="tarot-result">

      <img src="/assets/images/card/inFrame/present/I.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/II.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/III.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/IV.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/IX.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/O.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/V.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/VI.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/VII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/VIII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/X.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/XI.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/XII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/XIII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/XIV.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/XIX.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/XV.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/XVI.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/XVII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/XVIII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/XX.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/XXI.png" alt="tarot-result">

      <img src="/assets/images/card/inFrame/present/content/I.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/content/II.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/content/III.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/content/IV.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/content/IX.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/content/O.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/content/V.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/content/VI.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/content/VII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/content/VIII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/content/X.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/content/XI.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/content/XII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/content/XIII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/content/XIV.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/content/XIX.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/content/XV.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/content/XVI.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/content/XVII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/content/XVIII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/content/XX.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/present/content/XXI.png" alt="tarot-result">

      <img src="/assets/images/card/inFrame/future/I.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/II.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/III.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/IV.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/IX.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/O.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/V.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/VI.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/VII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/VIII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/X.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/XI.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/XII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/XIII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/XIV.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/XIX.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/XV.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/XVI.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/XVII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/XVIII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/XX.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/XXI.png" alt="tarot-result">

      <img src="/assets/images/card/inFrame/future/content/I.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/content/II.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/content/III.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/content/IV.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/content/IX.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/content/O.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/content/V.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/content/VI.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/content/VII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/content/VIII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/content/X.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/content/XI.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/content/XII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/content/XIII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/content/XIV.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/content/XIX.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/content/XV.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/content/XVI.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/content/XVII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/content/XVIII.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/content/XX.png" alt="tarot-result">
      <img src="/assets/images/card/inFrame/future/content/XXI.png" alt="tarot-result">
    </div>

    <%- include('./layout/footer'); -%>
    <%- include('./layout/script'); -%>
    
    <script type="module" src="../main.js"></script>
  </body>
</html>
