<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>3EYEMMS</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <div class="index-banner mb-6">
      <div class="container-md container-fluid">
        <img src="/assets/images/website-19.png" alt="banner-lg" class="w-100 d-md-block d-none">
        <img src="/assets/images/website-20.png" alt="banner-md" class="w-100 d-md-none d-sm-block d-none">
        <img src="/assets/images/website-21.png" alt="banner" class="w-100 d-sm-none d-block">
      </div>
    </div>

    <div class="index-tarot mb-6">
      <div class="container-lg container-fluid text-center px-xxl-24 px-3">
        <img src="/assets/images/website-22.png" alt="3EYEMMS-title" class="w-100 mb-6">

        <ol class="list-none d-flex flex-wrap justify-content-center">
          <li class="tarot-rule fs-8 text-black fw-semibold d-inline ls-lg-0 py-2 px-4 mb-3">
            此占卜為時序牌陣，請以近三個月之事件為占卜內容
          </li>
          <li class="tarot-rule fs-8 text-black fw-semibold d-inline ls-lg-0 py-2 px-4 mb-3">
            01：請先在內心明確描述問事內容
          </li>
          <li class="tarot-rule fs-8 text-black fw-semibold d-inline ls-lg-0 py-2 px-4 mb-3">
            02：點選三枚卡牌，按下「開始占卜」
          </li>
          <li class="tarot-rule fs-8 text-black fw-semibold d-inline ls-lg-0 py-2 px-4 mb-3">
            03：在下方欄目觀看結果
          </li>
        </ol>

        <ul
          class="container-lg container-fluid list-none d-flex flex-wrap justify-content-between px-lg-7 ps-18 pe-2 m-0">
          <li><img src="/assets/images/card/CARDB.png" alt="CARDB" class="tarot-card-back position-absolute"></li>
          <li><img src="/assets/images/card/CARDB.png" alt="CARDB" class="tarot-card-back position-absolute"></li>
          <li><img src="/assets/images/card/CARDB.png" alt="CARDB" class="tarot-card-back position-absolute"></li>
          <li><img src="/assets/images/card/CARDB.png" alt="CARDB" class="tarot-card-back position-absolute"></li>
          <li><img src="/assets/images/card/CARDB.png" alt="CARDB" class="tarot-card-back position-absolute"></li>
          <li><img src="/assets/images/card/CARDB.png" alt="CARDB" class="tarot-card-back position-absolute"></li>
          <li><img src="/assets/images/card/CARDB.png" alt="CARDB" class="tarot-card-back position-absolute"></li>
          <li><img src="/assets/images/card/CARDB.png" alt="CARDB" class="tarot-card-back position-absolute"></li>
          <li><img src="/assets/images/card/CARDB.png" alt="CARDB" class="tarot-card-back position-absolute"></li>
          <li><img src="/assets/images/card/CARDB.png" alt="CARDB" class="tarot-card-back position-absolute"></li>
          <li><img src="/assets/images/card/CARDB.png" alt="CARDB" class="tarot-card-back position-absolute"></li>
          <li><img src="/assets/images/card/CARDB.png" alt="CARDB" class="tarot-card-back position-absolute"></li>
          <li><img src="/assets/images/card/CARDB.png" alt="CARDB" class="tarot-card-back position-absolute"></li>
          <li><img src="/assets/images/card/CARDB.png" alt="CARDB" class="tarot-card-back position-absolute"></li>
          <li><img src="/assets/images/card/CARDB.png" alt="CARDB" class="tarot-card-back position-absolute"></li>
          <li><img src="/assets/images/card/CARDB.png" alt="CARDB" class="tarot-card-back position-absolute"></li>
          <li><img src="/assets/images/card/CARDB.png" alt="CARDB" class="tarot-card-back position-absolute"></li>
          <li><img src="/assets/images/card/CARDB.png" alt="CARDB" class="tarot-card-back position-absolute"></li>
          <li><img src="/assets/images/card/CARDB.png" alt="CARDB" class="tarot-card-back position-absolute"></li>
          <li><img src="/assets/images/card/CARDB.png" alt="CARDB" class="tarot-card-back position-absolute"></li>
          <li><img src="/assets/images/card/CARDB.png" alt="CARDB" class="tarot-card-back position-absolute"></li>
          <li><img src="/assets/images/card/CARDB.png" alt="CARDB" class="tarot-card-back position-absolute"></li>
        </ul>
      </div>
    </div>


    <div class="index-tarot-bg mt-lg-28 mt-sm-15 mt-12 mb-6">
    </div>

    <div class="index-tarot-drawcard">
      <div class="container">
        <buttom class="tarot-button d-flex p-0 mb-10">
          <img src="/assets/images/website-44.png" alt="" class="mx-auto">
        </buttom>
        <div class="row flex-sm-nowrap flex-wrap gap-lg-5 gap-sm-3 gap-1 justify-content-center mx-0">

          <div class="card card-frame rounded-0 col-md-4">
            <div class="card-frame-title">
              <img src="/assets/images/website-49.png" alt="OtherLinks">
            </div>
            <div class="card-frame-bg card-body text-center">
              <img src="/assets/images/card/CARDB.png" class="card-img-top" alt="...">
              <img src="/assets/images/word/wordcard-38.png" class="card-title w-100"></img>
              <div class="card-line"></div>
              <p class="card-text p-4">請於上方點選三枚卡牌後<br>按下「開始占卜」</p>
            </div>
          </div>

          <div class="card card-frame rounded-0 col-md-4">
            <div class="card-frame-title">
              <img src="/assets/images/website-49.png" alt="OtherLinks">
            </div>
            <div class="card-frame-bg card-body text-center">
              <img src="/assets/images/card/CARDB.png" class="card-img-top" alt="...">
              <img src="/assets/images/word/wordcard-38.png" class="card-title w-100"></img>
              <div class="card-line"></div>
              <p class="card-text p-4">請於上方點選三枚卡牌後<br>按下「開始占卜」</p>
            </div>
          </div>

          <div class="card card-frame rounded-0 col-md-4">
            <div class="card-frame-title">
              <img src="/assets/images/website-49.png" alt="OtherLinks">
            </div>
            <div class="card-frame-bg card-body text-center">
              <img src="/assets/images/card/CARDB.png" class="card-img-top" alt="...">
              <img src="/assets/images/word/wordcard-38.png" class="card-title w-100"></img>
              <div class="card-line"></div>
              <p class="card-text p-4">請於上方點選三枚卡牌後<br>按下「開始占卜」</p>
            </div>
          </div>



        </div>

      </div>
    </div>







    <div class="index-info">
      <div class="container">

      </div>
    </div>




    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>