<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>3EYEMMS</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <div class="index-banner mb-6">
      <div class="container-md container-fluid">
        <img src="/assets/images/website-19.png" alt="banner-lg" class="w-100 d-md-block d-none">
        <img src="/assets/images/website-20.png" alt="banner-md" class="w-100 d-md-none d-sm-block d-none">
        <img src="/assets/images/website-21.png" alt="banner" class="w-100 d-sm-none d-block">
      </div>
    </div>


    <div class="index-info-bg"></div>

    <div class="index-info info-translateY mt-xxl-40 mt-0">
      <div class="container">
        <div class="row text-center gy-6">
          <div class="col-sm-4" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000"><img src="/assets/images/website-51.png" alt="" class="mw-100 img-set"></div>
          <div class="col-sm-4"><img src="/assets/images/website-54.png" alt="" class="mw-100 img-set"></div>
          <div class="col-sm-4 d-flex align-items-center flex-column justify-content-around">
            <img src="/assets/images/website-55.png" alt="" class="mw-100 img-set mb-sm-0 mb-4">
            <img src="/assets/images/website-56.png" alt="" class="mw-100 img-set">
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
    <%- include('./layout/script'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>